@import "components/Enter/styles.scss";
@import "components/Game/styles.scss";
@import "animations.scss";
@import "futura.scss";

body {
    @extend .font-futura;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        color: white;
        font-size: 2.25em;
        margin: auto;
        text-align: center;
        position: relative;
        top: 1em;
    }

    button {
        margin-bottom: 2em;
        padding: 0.25em 1em;
        font-size: 2em;
        background-color: $primary;
        color: $secondary;
    }
}
